body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 2px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

thead[class*="ant-table-thead"] th{
  text-align: center;
}

.status-0 .ant-modal-title,
.status-1 .ant-modal-title,
.status-2 .ant-modal-title,
.status-3 .ant-modal-title,
.status-4 .ant-modal-title,
.status-5 .ant-modal-title {
  color: #fff;
  font-size: 20px;
}

.status-0 .ant-modal-close,
.status-1 .ant-modal-close,
.status-2 .ant-modal-close,
.status-3 .ant-modal-close,
.status-4 .ant-modal-close,
.status-5 .ant-modal-close {
  color: #fff;
}

.status-0 .ant-modal-header {
  background: #efbb1e;
}

.status-1 .ant-modal-header {
  background: #b7d024;
}

.status-2 .ant-modal-header {
  background: #0080ff;
}

.status-3 .ant-modal-header {
  background: #00bfff;
}

.status-4 .ant-modal-header {
  background: #51a351;
}

.status-5 .ant-modal-header {
  background: #bd362f;
}


.border-status-0 {
  border-left: #efbb1e 2px solid;
}

.border-status-1 {
  border-left: #b7d024 2px solid;
}

.border-status-2 {
  border-left: #0080ff 2px solid;
}

.border-status-3 {
  border-left: #00bfff 2px solid;
}

.border-status-4 {
  border-left: #51a351 2px solid;
}

.border-status-5 {
  border-left: #bd362f 2px solid;
}

.ant-table-fixed .border-status-0,
.ant-table-fixed .border-status-1,
.ant-table-fixed .border-status-2,
.ant-table-fixed .border-status-3,
.ant-table-fixed .border-status-4,
.ant-table-fixed .border-status-5 {
  border-left: none;
}

.d-table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.d-tr{
  display: table-row;
  
}
.d-td{
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}

.title-modal-orders {
  text-align: right;
  width: 30%;
  border-right: #e8e8e8 1px solid;
  padding-right: 10px;
  font-weight: bold;
}

.content-modal-orders {
  text-align: left;
  width: 70%;
  padding-left: 10px;
}

.title-detail {
  text-align: left;
  width: 20%;
  padding-right: 10px;
  font-weight: bold;
}

.content-detail {
  text-align: left;
  padding-left: 10px;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0px;
}

.header-order-details {
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
}

.no-bottom {
  margin-bottom: 0px;
}

.order-details-subtotal {
  border-top: 1px dashed #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 600;
  padding: 5px 0;
}

.order-details-content {
  padding: 2px 0;
}

.header-order-total {
  padding: 5px 0;
  font-weight: 800;
  font-size: 16px;
}