body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

thead[class*="ant-table-thead"] th{
  text-align: center;
}

.status-0 .ant-modal-title,
.status-1 .ant-modal-title,
.status-2 .ant-modal-title,
.status-3 .ant-modal-title,
.status-4 .ant-modal-title,
.status-5 .ant-modal-title {
  color: #fff;
  font-size: 20px;
}

.status-0 .ant-modal-close,
.status-1 .ant-modal-close,
.status-2 .ant-modal-close,
.status-3 .ant-modal-close,
.status-4 .ant-modal-close,
.status-5 .ant-modal-close {
  color: #fff;
}

.status-0 .ant-modal-header {
  background: #efbb1e;
}

.status-1 .ant-modal-header {
  background: #b7d024;
}

.status-2 .ant-modal-header {
  background: #0080ff;
}

.status-3 .ant-modal-header {
  background: #00bfff;
}

.status-4 .ant-modal-header {
  background: #51a351;
}

.status-5 .ant-modal-header {
  background: #bd362f;
}

.sssss {
  border-left: #00bfff 5px solid;
}

