body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-layout-header {
  line-height: 30px;
}

.ant-divider-horizontal {
  margin: 15px 0;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 2px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

thead[class*="ant-table-thead"] th{
  text-align: center;
}

.status-0 .ant-modal-title,
.status-1 .ant-modal-title,
.status-2 .ant-modal-title,
.status-3 .ant-modal-title,
.status-4 .ant-modal-title,
.status-5 .ant-modal-title,
.status-6 .ant-modal-title {
  color: #fff;
  font-size: 20px;
}

.status-0 .ant-modal-close,
.status-1 .ant-modal-close,
.status-2 .ant-modal-close,
.status-3 .ant-modal-close,
.status-4 .ant-modal-close,
.status-5 .ant-modal-close,
.status-6 .ant-modal-close {
  color: #fff;
}

.status-0 .ant-modal-header {
  background: #efbb1e;
}

.status-1 .ant-modal-header {
  background: #efbb1e;
}

.status-2 .ant-modal-header {
  background: #b7d024;
}

.status-3 .ant-modal-header {
  background: #0080ff;
}

.status-4 .ant-modal-header {
  background: #00bfff;
}

.status-5 .ant-modal-header {
  background: #51a351;
}

.status-6 .ant-modal-header {
  background: #bd362f;
}


.border-status-0 {
  border-left: #efbb1e 8px solid;
  background: #e6f7ff;
}

.border-status-1 {
  border-left: #efbb1e 2px solid;
  
}

.border-status-2 {
  border-left: #b7d024 2px solid;
}

.border-status-3 {
  border-left: #0080ff 2px solid;
}

.border-status-4 {
  border-left: #00bfff 2px solid;
}

.border-status-5 {
  border-left: #51a351 2px solid;
}

.border-status-6 {
  border-left: #bd362f 2px solid;
}

.border-status-1,
.border-status-2,
.border-status-3,
.border-status-4,
.border-status-5,
.border-status-6 {
  background: none;
}

.border-status-0,
.border-status-1,
.border-status-2,
.border-status-3,
.border-status-4,
.border-status-5,
.border-status-6,
.cursor-pointer {
  cursor: pointer;
}

.ant-table-fixed .border-status-0,
.ant-table-fixed .border-status-1,
.ant-table-fixed .border-status-2,
.ant-table-fixed .border-status-3,
.ant-table-fixed .border-status-4,
.ant-table-fixed .border-status-5,
.ant-table-fixed .border-status-6 {
  border-left: none;
}



.d-table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.d-tr{
  display: table-row;
  
}
.d-td{
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}

.title-modal-orders {
  text-align: right;
  width: 30%;
  border-right: #e8e8e8 1px solid;
  padding-right: 10px;
  font-weight: bold;
}

.content-modal-orders {
  text-align: left;
  width: 70%;
  padding-left: 10px;
}

.title-detail {
  text-align: left;
  width: 20%;
  padding-right: 10px;
  font-weight: bold;
}

.content-detail {
  text-align: left;
  padding-left: 10px;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0px;
}

.header-order-details {
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
}

.no-bottom {
  margin-bottom: 0px;
}

.order-details-subtotal {
  border-top: 1px dashed #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 600;
  padding: 5px 0;
}

.order-details-content {
  padding: 2px 0;
}

.header-order-total {
  padding: 5px 0;
  font-weight: 800;
  font-size: 16px;
}

.alert-order .ant-alert-close-icon {
  font-size: 14px;
  position: initial;
  border-bottom: 1px dashed #000000a6;
  color: #000000a6;
  margin-left: 5px;
}

.alert-order .ant-alert-close-icon:hover {
  border-bottom: none;
}

.title-section {
  font-size: 18px;
  font-weight: 500;
}

.form-login .ant-modal-content .ant-modal-close {
  display: none;
}

.form-login .ant-modal-content .ant-modal-header {
  background: #1890ff;
}

.form-login .ant-modal-content .ant-modal-body {
  padding: 24px 24px 0 24px;
}

.form-login .ant-modal-content .ant-modal-header .ant-modal-title {
  font-size: 21px;
  color: #fff;
  text-align: center;
}

.content-center .ant-form-item-control-wrapper {
  text-align: center;
}

.text-login {
  text-align: center;
  margin-bottom: 1px;
}

.text-login-copyright {
  text-align: center;
  position: relative;
  top: 44px;
}

.content-form .ant-form-item-label {
  line-height: 0px;
}

.content-form, .content-form-not-required {
  margin-bottom: 25px;
}

.content-form-not-required .ant-form-item-label {
  line-height: 18px;
}

.button-login {
  width: 100%;
}

.title-setup {
  font-size: 21px;
  font-weight: 400;
  padding: 25px 0px 0px 0px;
}

.describe-setup {
 
}

.describe-setup-form {
  margin-top: -25px;
}


.period-payments {
  padding-bottom: 25px;
}


.subscription-plans-widget {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
}

.subscription-plans-widget .subscription-plan {
  background-color: #fff;
  text-align: center;
  transition: all .26s;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d0d0d0;
}

.subscription-plans-widget .subscription-plan:hover .plan-name, .subscription-plan .active {
  background-color: #1890ff;
  color: #fff;
}

.subscription-plans-widget .subscription-plan .plan-name {
  padding: 10px;
  font-weight: 600;
  border-bottom: 1px solid #d0d0d0;
  transition: all .3s;
}

.subscription-plans-widget .subscription-plan .plan-details .plan-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 5px 0;
}

.subscription-plans-widget .subscription-plan:hover, .subscription-plans-widget .subscription-plan.active {
  box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

.plan-detail p {
  margin: 0px 10px 0px 10px;
}

.time-picker-width {
  width: 110px;
}

.bg-LoadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centered-spinner {
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 200px;
    height:100px;
    margin: -50px 0 0 -100px;
    text-align: center;
}

.email-list {
  height: 24px;
  font-size: 14px;
  padding: 1px 11px;
}
